* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.oyo-logo {
  height: 70px;
}

.top-item {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.top-item strong {
  font-weight: 600;
}

.top-item span {
  font-size: 11px;
  color: #666;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-btn {
  cursor: pointer;
  font-weight: 600;
}

/* CITY BAR */
.city-bar {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 10px 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.city-bar a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
}

.city-bar a:hover {
  color: red;
}


/* SEARCH */
.search-section {
  background: linear-gradient(#555, #333);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-box input,
.search-box select {
  padding: 12px;
  border: none;
  width: 220px;
}

.search-box button {
  background: #1ab64f;
  color: white;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
}

/* OFFER */
.offer {
  display: flex;
  padding: 50px;
  align-items: center;
  gap: 40px;
}

.offer-text h2 {
  font-size: 32px;
}

.offer-text button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.offer-img img {
  width: 400px;
  border-radius: 10px;
}

/* MAP */
.map-section {
  display: flex;
  padding: 60px;
  gap: 40px;
}

.map-left img {
  width: fit-content;
}

.stats {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.stats h3 {
  font-size: 32px;
}

/* FOOTER */
footer {
  background: #6c757d;
  color: white;
  padding: 40px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-top a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-top img {
  width: 140px;
}

copyright {
  text-align: center;
  margin-top: 30px;
}
